.header-logo, .header-perfume,.header-new, .header-diffuser, .header-mypage {
    font-family: 'KaiseiDecol-Regular';
    color: #3a3a3a;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1;
    will-change: transform;
}

.header-logo {
    font-size: 1.5rem;
    padding: 5px;
    padding-left: 10px;
}

.header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    transition: background-color 0.3s ease;
    align-items: center;
    height: 60px;
    will-change: transform;
}

.header-term {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.mypage .header-section {
    background-color: #333 !important;
    padding-right: 20px;
}

.active {
    color: #6699CC !important;  /* 원하는 색상으로 변경 */
    font-size: 1.2rem !important;  /* 크기 변경 방지 */
    text-decoration: none !important;  /* 밑줄 없애기 */
    font-family: 'KaiseiDecol-Regular';
    font-weight: normal !important;
    line-height: 1 !important;
}

.mypage .header-logo, 
.mypage .header-perfume, 
.mypage .header-new, 
.mypage .header-diffuser, 
.mypage .header-mypage {
    color: white !important;
}

.header-mypage {
    margin-right: 20px;
}